<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title><%= title %></title>

    <link rel="stylesheet" href="/static/jquery.colorbox.css"/>
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css"/>

    <script type="text/javascript" src="/static/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="/static/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#word-add-button").click(function () {
                $("#word-form-id").val(null);
                $("#word-form-type-0").attr('checked', 'checked');
                $("#word-form-content").html('');

                $.colorbox({
                    html: $("#word-form").html(),
                    width: 500,
                    height: 400
                });
            })

            $("[id*=update]").click(function () {
                var id = $(this).attr('rel');
                $.getJSON('/manage/word/' + id, {}, function (data, textStatus, jqXHR) {
                    $("#word-form-id").val(data.id);
                    $("#word-form-type-" + data.word_type).attr('checked', 'checked');
                    $("#word-form-content").html(data.content);

                    $.colorbox({
                        html: $("#word-form").html(),
                        width: 500,
                        height: 400
                    });
                })
            });

            $("[id*=delete]").click(function () {
                if (confirm("确定删除单词")) {
                    var id = $(this).attr('rel');
                    $.ajax({
                        url: '/manage/word/' + id,
                        type: 'DELETE',
                        success: function (data, textStatus, jqXHR) {
                            self.location.reload();
                        }
                    })
                }
            });
        })
    </script>
</head>
<body>adfasd
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WordTutor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/exercise">学习</a></li>
                <li><a href="/exam">考试</a></li>
                <li><a href="/grade">成绩单</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="/manage/user">用户管理</a></li>-->
                        <li class='active'><a href="/manage/word">词库管理</a></li>
                        <li class="divider"></li>
                        <li><a href="#">关于</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div style="margin-bottom: 60px;height: 20px;"></div>
<div class="container">
    <% if (error != null){ %>
    <div class="alert alert-warning"><%= error %></div>
    <% } %>
    <div class="panel panel-default">
        <div class="panel-heading breadcrumb">
            <li><h3 class="panel-title">词库管理</h3></li>
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a id="word-add-button" class="btn btn-primary btn-xs">新增单词</a>
                </div>
            </div>
        </div>
        <!--<div class="panel-body">-->

        <!--</div>-->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: 75%">单词</th>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <% for (var i = 0; i < words.length;i++) { %>
                <tr>
                    <td>
                        <div style="display: none"><%= words[i].id %></div>
                    </td>
                    <td>
                        <textarea readonly rows="3" style="width: 100%"><%= words[i].content %></textarea>
                    </td>

                    <td>
                        <% if (words[i].word_type == 0) { %>
                        单词
                        <% }else{ %>
                        词组
                        <% } %>
                    </td>
                    <td>
                        <a id="update-<%= words[i].id %>" class="btn btn-primary btn-xs" rel="<%= words[i].id %>">修改</a>
                        <a id="delete-<%= words[i].id %>" class="btn btn-danger btn-xs" rel="<%= words[i].id %>">删除</a>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; 2014 <a href="mailto:pippo1980.du@gmail.com?subject=WordTutor" target="_blank">pippo1980.du@gmail.com</a></p>
    </footer>
</div>
<div id="word-form" style="display: none">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">新增单词</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" action="/manage/word" method="post">
                <div class="form-group">
                    <label for="word-form-type" class="col-sm-2 control-label">类型</label>

                    <div class="col-sm-10">
                        <div class="radio-inline">
                            <input id="word-form-type-0" name="word_type" type="radio" value="0" checked>单词</input>
                        </div>
                        <div class="radio-inline">
                            <input id="word-form-type-1" name="word_type" type="radio" value="1">词组</input>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="word-form-content" class="col-sm-2 control-label">内容</label>

                    <div class="col-sm-10">
                        <textarea id="word-form-content" name="content" class="form-control" required="true"
                                  rows="6" style="width: 400"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-xs">提交</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="reset" class="btn btn-primary btn-xs">重置</button>
                    </div>
                </div>

                <div style="display: none">
                    <input type="hidden" id="word-form-id" name="id"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>