<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title><%= title %></title>

    <link rel="stylesheet" href="/static/jquery.colorbox.css"/>
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css"/>

    <script type="text/javascript" src="/static/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="/static/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#previous").click(function () {
                self.location = '/exercise/phrase?start=' + (<%=start%>-1);
            });

            $("#next").click(function () {
                self.location = '/exercise/phrase?start=' + (<%=start%>+1);
            });


            $.getJSON('/note/word/<%=word.id%>', {}, function (data, textStatus, jqXHR) {
                if (data.id != null) {
                    $("#note-form-id").val(data.id);
                    $("#note-form-word-id").val(data.word_id);
                    $("#note-form-content").html(data.content);
                }
            })

            $("#note-form-submit").click(function () {
                $.post('/note/word', {
                    id: $("#note-form-id").val(),
                    word_id: $("#note-form-word-id").val(),
                    content: $("#note-form-content").val()}, function (data, textStatus, jqXHR) {

                    $("#note-form-id").val(data.id);
                    $("#note-form-word-id").val(data.word_id);
                    $("#note-form-content").html(data.content);
                })
            })
        })
    </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WordTutor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class='active'><a href="/exercise">学习</a></li>
                <li><a href="/exam">考试</a></li>
                <li><a href="/grade">成绩单</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="/manage/user">用户管理</a></li>-->
                        <li><a href="/manage/word">词库管理</a></li>
                        <li class="divider"></li>
                        <li><a href="#">关于</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div style="margin-bottom: 60px;height: 20px;"></div>
<div class="container">
    <% if (error != null){ %>
    <div class="alert alert-warning"><%= error %></div>
    <% } %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">词组学习</h3>
        </div>
        <div class="panel-body">
            <form id="note-form" class="form-horizontal" role="form" action="/note/word" method="post">
                <div class="form-group">
                    <label for="word-form-content" class="col-sm-2 control-label">词组</label>

                    <div class="col-sm-10">
                        <textarea id="word-form-content" class="form-control" readonly="true"
                                  rows="6" style="width: 100%"><%= word.content %></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="note-form-content" class="col-sm-2 control-label">笔记</label>

                    <div class="col-sm-10">
                        <textarea id="note-form-content" name="content" class="form-control"
                                  rows="6" style="width: 100%"></textarea>
                    </div>
                </div>
                <div style="display: table;margin-left: auto;margin-right: auto;">
                    <div class="btn-group btn-group-lg text-center">
                        <a id="previous" class="btn btn-default">上一个</a>
                        <a id="note-form-submit" class="btn btn-default">保存</a>
                        <a id="next" class="btn btn-default">下一个</a>
                        <a class=" btn btn-default" href="/exercise">返回</a>
                    </div>
                </div>
                <div style="display: none">
                    <input type="hidden" id="note-form-id" name="id"/>
                    <input type="hidden" id="note-form-word-id" name="word_id" value="<%= word.id %>"/>
                </div>
            </form>
        </div>
    </div>

    <hr>
    <footer>
        <p>&copy; 2014 <a href="mailto:pippo1980.du@gmail.com?subject=WordTutor" target="_blank">pippo1980.du@gmail.com</a></p>
    </footer>
</div>
</body>
</html>